body {
    background: rgb(68, 64, 67);
    color: rgb(90, 21, 106);
    animation: 1s glow ease-in-out infinite alternate
    padding: 10px;
    font-family: fanstasy;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(43, 20, 93);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(178, 176, 180);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #9c9ceb;
}

/* main container area beneath menu */
main {
    background: rgb(245, 238, 219);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
    animation: 1s glow ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 50px #b981e7, 0 0 50px #fff, 0 0 30px #f5f2f4, 0 0 40px rgb(198, 118, 222), 0 0 50px #f6f3f5, 0 0 60px #f6f5f6, 0 0 70px #fbfafa;
    }
    to {
      text-shadow: 0 0 60px #ae64d6, 0 0 30px #f5f2f3, 0 0 40px #f7f3f5, 0 0 50px #8d6ab0, 0 0 60px #fcfafb, 0 0 70px #fffdfe, 0 0 80px #fbf8fa;
    }
  }

/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

/* portfolio styles */
.content h1 {
    color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}